@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');


body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
color: rgb(36, 34, 34);
    font-family: 'Poppins', sans-serif;
}

.header-container {
    height: 100vh;
    background-color: #a798ea;
    background-image: url('./i/White-Purple-UI.png');
    width: 100vw; 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
    box-sizing: border-box; 
      padding: 0 112px; 
      position: relative;
      display: flex;
     flex-direction: column; 
     justify-content: center; 
     align-items: flex-start;
     }

     h1{
         font-weight: bold; 
        font-weight: 700;
        font-size: 50px;
         text-transform: uppercase; 
         letter-spacing: 4px;
    }
    h2 {
    text-transform: uppercase;
     letter-spacing: 4px;
    }

    .social-media {
        margin-top: 1rem;
         display: flex; 
        }
        
          .social-media a {
           text-decoration: none;
            color: #1E1E2A; 
           padding: 1rem 4rem; 
           border: 1px solid #1E1E2A;
           min-width: 4rem; 
           display: flex; 
           align-items: center; 
           justify-content: center; 
           transition: .5s ease-in-out;
          }

          a:hover{
            background-color: #fff;
            }

/* =-=-=-==-=-=-=-=-=-==-=-=-==-=-==---=-=--=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */

.checkbox-container{
    display: flex; 
    align-items: center; 
    justify-content: center; 
}

    
.checkbox{
    height: 100px;
   width: 100px;
    cursor: pointer;
    z-index: 9999;
    transition: 400ms ease-in-out 0s;
    position: absolute;
   right: 0;
   top: 0;
   display: flex;
   justify-content: center;
  
   }

.checkbox .trace {
    width: 50px;
    background-color: #1E1E2A;
    height: 2px; 
    transition: 0.5s ease-in-out;
    position: absolute; 
    border-radius: 4px;
    }
    .checkbox .trace:nth-child(1) {
    top: 26px;
    transform: rotate(0);
    }
    .checkbox .trace:nth-child(2) {
        top: 46px;
        transform: rotate(0);
        }
    
        .checkbox .trace:nth-child(3) {
            top: 66px;
            transform: rotate(0);
            }
            
  #toggle{
display: none;
  }           

/* =-=-=-==-=-=-=-=-=-==-=-=-==-=-==---=-=--=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */

.menu{
    position: absolute;
top: 28px;
right: 30px;
z-index: -1;
transition: 400ms ease-in-out 0s;
background-color: transparent;
height: 4px;
width: 10px;
box-shadow: 0px 0px 0px #ffffff;
border-radius: 50% ;
}

.menu-items{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    transition: 400ms ease-in-out 0s;
    }
 
    .menu-items ul{
        list-style-type: none;
    }
        

    .menu-items ul li a {
        margin: 10px 0;
        color: #1E1E2A;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 4px;
        font-size: 40px;
    }
   /* =-=-=-==-=-=-=-=-=-==-=-=-==-=-==---=-=--=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */

   #toggle:checked + .checkbox .trace:nth-child(1){
    transform: rotate(45deg); 
    top: 47px;
    }
    #toggle:checked + .checkbox .trace:nth-child(2){
    transform: translate(-100px);
    width: 30px;
    visibility: hidden;
    opacity: 0;
    
    }
    #toggle:checked + .checkbox .trace:nth-child(3){
     transform: rotate(-45deg);
    top: 48px;
    }

#toggle:checked + .checkbox{
        background-color: #ffffff;
 }   

    #toggle:checked ~ .menu {
   box-shadow: 0px 0px 0px 75rem #ffffff;
   z-index: 1;
    }
    
    #toggle:checked ~ .menu-items {
        visibility: visible;
        opacity: 1;
         }
     

 /* =-=-=-==-=-=-=-=-=-==-=-=-==-=-==---=-=--=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */

 .container{
    height: auto;
    /* width: 100%; */
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
  margin: 3rem 0; 
   /* margin-top: 3rem;*/
 }
 .card-container{
    width: 90%;
    display: flex;
    justify-content: space-evenly;
     }

.card{
    width: 300px;
    height: 300px;
    border-radius: 100%;
    margin: 3rem 0 0 0;
    display: flex; 
  justify-content: center; 
align-items: center; 
background-color: #a798ea;
background-image: url("i/imgs-pra-portfolio.png");
background-repeat: no-repeat;
    background-size: cover;
     background-position: center; 
   
     transition: 0.5s ease-in-out; 
   /* filter: grayscale(1.0); */
   filter: grayscale(0.5);
   color: #1E1E2A;
   cursor: pointer;

}      

    .card-text{
    width: 40%;
    letter-spacing: 1px;
    color: hsl(240, 1%, 63%);
}

    .card-wrapper{
        text-align: center;
        display: flex; 
        justify-content: center; 
      align-items: center; 
      flex-direction: column;
      position: relative;
    }

    .card-wrapper::before{
        width: 100px;
        height: 100px;
        content: '';
    position: absolute;
    transition: 0.5s ease-in-out; 

    border-radius: 50%;
    border: 1px solid #ffffff;
    opacity: 0;

    }
    .card-wrapper h2{
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin: 0;
    transition: 0.5s ease-in-out; 

    }

    .card-wrapper p{
        font-size: 0px;
        visibility: visible;
        opacity: 0;
        font-weight: bold;
        transition: 0.5s ease-in-out; 
        text-transform: uppercase;
        }





/*RESPONSIVE TEST*/
 /* =-=-=-==-=-=-=-=-=-==-=-=-==-=-==---=-=--=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- 


@media(min-width:901px) and (max-width: 1500px){

    body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
    color: rgb(36, 34, 34);
   font-family: 'Poppins', sans-serif;
}
    
    .header-container {
    height: 100vh;
    background-color: #a798ea;
    background-image: url('./i/White-Purple-UI.png');
    width: 100vw; 
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center; 
    box-sizing: border-box; 
      padding: 0 112px; 
      position: relative;
      display: flex;
     flex-direction: column; 
     justify-content: center; 
     align-items: flex-start;
     }

     h1{
         font-weight: bold; 
        font-weight: 700;
        font-size: 50px;
         text-transform: uppercase; 
         letter-spacing: 4px;
    }
    h2 {
    text-transform: uppercase;
     letter-spacing: 4px;
    }
    
    
}*/

